<!-- <app-list></app-list> -->
<h1>CONTACTS</h1>
<div>
    <input type="text" style="margin-left: 600px; border: 2px solid blue; padding: 1px;">
    <button type="button" style="padding: 1px;border: 2px solid blue;">click me</button>
</div>

<table>
    <tr>
        <th>S NO</th>
        <th>NAME</th>
        <th>MOB NO</th>
    </tr>
    <tr>
        <td>1</td>
        <td>AKHIL</td>
        <td>9573746857</td>
    </tr>
    <tr>
        <td>2</td>
        <td>LAXMAN</td>
        <td>9014258893</td>
    </tr>
    <tr>
        <td>3</td>
        <td>SATISH</td>
        <td>9490287660</td>
    </tr>
    <tr>
        <td>4</td>
        <td>RAMESH</td>
        <td>9849956428</td>
    </tr>
    

</table>