table{
    font-size: 15px;
    background-color: black;
    border: solid;
width: 100%;
}
th{
    color: cornsilk;
    font-size: 20px;
    border: cyan solid;
    padding: 5px;
    text-align: center;
    background-color: gold;
}
td{
    color: floralwhite;
    font-size: 15px;
    border: gold;
    padding: 2px;
    text-align: center;
    background-color: gray;
}
h1 {
text-align: center;
background-color: green;

} 