<table>
    <tr>
        <td>State Name </td>
        <td>active</td>
        <td>deaths</td>
        <td>deltaconfirmed</td>
        <td>deltadeaths</td>
        <td>deltarecovered</td>
        <td>lastupdatedtime</td>
        <td>migratedother</td>
        <td>recovered</td>
      <td>statecode</td>
        <td>statenotes</td>
        
    </tr>
    <tr *ngFor='let data of covidData'>
        <td>{{data.state}}</td>
        <td>{{data.active}}</td>
        <td>{{data.deaths}}</td>
        <td>{{data.deltaconfirmed}}</td>
        <td>{{data.deltadeaths}}</td>
        <td>{{data.deltarecovered}}</td>
        <td>{{data.lastupdatedtime}}</td>
        <td>{{data.migratedother}}</td>
        <td>{{data.recovered}}</td>
        <td>{{data.statecode}}</td>
        <td>{{data.statenotes}}</td>
    </tr>
</table>